doctype html

html(lang="en")
head
	title  forex price
	link(rel='stylesheet'
		 type='text/css'
		 href='../css/index.css'
		 media='screen')
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")

body
div
	table(class="rwd-table")
		tr
			th Pair
			th Ask
			th Bid
		tr
			td AUD/CNH
			td #{Number(AUDCNH[0].price * 1.010).toFixed(4)}
			td #{Number(AUDCNH[0].price * 1.026).toFixed(4)}
		tr
			td AUD/USD
			td #{Number(AUDUSD[0].price * 1.009).toFixed(4)}
			td #{Number(AUDUSD[0].price * 1.026).toFixed(4)}
		tr
			td AUD/NZD
			td #{Number(AUDNZD[0].price * 1.009).toFixed(4)}
			td #{Number(AUDNZD[0].price * 1.026).toFixed(4)}
		tr
			td AUD/CHF
			td #{Number(AUDCHF[0].price * 1.009).toFixed(4)}
			td #{Number(AUDCHF[0].price * 1.027).toFixed(4)}
		tr
			td USD/CNH
			td #{Number(USDCNH[0].price * 1.009).toFixed(4)}
			td #{Number(USDCNH[0].price * 1.027).toFixed(4)}
	